[submodule "lib/expand-region"]
	path = lib/expand-region
	url = https://github.com/magnars/expand-region.el.git
[submodule "lib/evil"]
	path = lib/evil
	url = https://gitorious.org/evil/evil.git
[submodule "lib/evil-paredit"]
	path = lib/evil-paredit
	url = https://github.com/roman/evil-paredit.git
